[Unit]
Description=Podman Compose mongodb
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/install-rootless-podman/test_mongodb
ExecStartPre=/usr/bin/mkdir -p %h/install-rootless-podman/test_mongodb/data/mongodb
ExecStart=%h/.local/bin/podman-compose --in-pod false up -d
ExecStop=%h/.local/bin/podman-compose --in-pod false down
TimeoutStartSec=0

[Install]
WantedBy=default.target
